.navbar-container{
  width: 100%;
  display: flex;
  align-items: center;
  .nav_logo{
    width: 100%;
    img{
      width: 20rem;
    }
  }

  .nav_buttons{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    button#menu_button{
      background-color: transparent;
      :hover{
        cursor: pointer;
      }
      img{
        width: 50px;
      }
    }
    }
  }

main{
  display: flex;
  gap: 2rem;
  margin: 10px;
  flex-direction: column;

  section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

  }
  .img_side{
    img{
      width: 100%;
      height: auto;
    }
  }

  .text_side{
    button{
      background-color: #365486;
      color: white;
      padding: 1rem;
      border-radius: 1.1rem;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

p#main_title{
  color: #365486;
  font-size: 3.2rem;
  flex-wrap: wrap;
}
p#main_text{
  font-size: 1.3rem;
}

// RESPONSIVE MEDIA QUERIES

@media screen and (min-width: 992px) {
  main{
    align-items: center;
    margin: 3rem;
    flex-direction: row;
  }
  .img_side{
    img{
      width: 100%;
      height: auto;
    }
  }
  .text_side{
    justify-content: space-between;
  }
  p#main_text{
    font-size: 1.6rem;
  }
}
