<header class="container">
  <nav class="navbar-container">
    <section class="nav_logo">
      <img width="100%" #logo [src]="logoImgPath" [alt]="logoImgAlt"/>
    </section>
    <section class="nav_buttons">
      <button id="menu_button">
        <img [src]="menuButtonPath" alt="Menu button">
      </button>
    </section>
  </nav>
</header>

<main>
  <section class="text_side">
    <p id="main_title">
      Plataforma de oportunidades Tech
    </p>
    <p id="main_text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto perferendis asperiores, necessitatibus placeat incidunt vitae impedit laudantium accusamus omnis, veniam praesentium ratione excepturi doloribus modi nemo? Debitis nostrum optio iusto.
    </p>
    <button>COMEÇAR</button>
  </section>
  <section class="img_side">
    <img [src]="mainImgPath" width="2000" height="2000"/>
  </section>
</main>

