:root{
  --primary: #7FC7D9;
  --primary-010: #53bcd6;

  --secondary: #365486;
  --secondary-010: #1C3E78;

  --white: #fff;

  --grey: #9b9ba0;
  --grey-010: #68686c;

  --black: #10101a;
  --black-010: #2a2a30;
}
